{% extends 'base.html' %}

{% block title %}
<title> Create a recipe </title>
{% endblock %}

{% block content %}

<h1> Customize your recipe </h1>

<form id="pet-add-form" method="POST">
    {{ form.hidden_tag() }}


    <div class="card" style="width: 70%; display:inline-block; margin:1rem">
        <img class="card-img-top" height="130rem" src="{{res.image}}" alt="Card image cap">
        <div class="card-body">


            <h5 class="card-title">{{res.title | safe}}</h5>
             {{form.name.label}}  {{form.name}}
            
            <h5 class="card-title">{{res.readyInMinutes | safe}} minutes</h5>
            {{form.total_time.label}}  {{form.total_time}}
            
            <h5 class="card-title">{{res.servings | safe}} servings </h5>
            {{form.total_servings.label}}  {{form.total_servings}}
            
            <p class="card-text">{{res.summary | safe}}</p>
            {{form.summary.label}}  {{form.summary}}
            
        </div>
    </div>



    <ul>

        {% for ingredient in form.ingredients%}
            {{ingredient.form.hidden_tag()}}
            <br>
            {{ingredient.form.amount.label}} {{ingredient.form.amount}}
            <br>
            {{ingredient.form.unit.label}} {{ingredient.form.unit}}
            <br>
            {{ingredient.form.name.label}} {{ingredient.form.name}}
        {% endfor%}


    </ul>
    
    {% for step in form.steps%}
        {{step.form.hidden_tag()}}
        {{step.form.step.label}} {{step.form.step}}
        <br>
    {% endfor%}
    <button class="btn btn-primary"> Success</button>
</form>


{% endblock %}