{% extends 'base.html' %}

{% block title %}
<title> Create a recipe </title>
{% endblock %}

{% block content %}

<div class="d-flex">
    <div>
        <h1 class="mx-auto text-center"> Customize your recipe </h1>

        <div class="card mx-auto" style="margin:1rem">
            <img class="card-img-top card-img-resize" src="{{recipe.image_url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{recipe.image}}</h5>
                <h5 class="card-title">{{recipe.title | safe}}</h5>
                <h5 class="card-title">{{recipe.total_time | safe}} minutes</h5>
                <h5 class="card-title">{{recipe.total_servings | safe}} servings </h5>
                <p class="card-text">{{recipe.summary}}</p>

            </div>
        </div>

        <div id="ingredients">
            {% for ingredient in recipe.ingredients[0].json.get('ingredients')%}
            <div id="ingredient-{{loop.index - 1}}">
                <div class="grid mx-auto">
                    {{ingredient.amount}}
                    {{ingredient.unit}}
                    {{ingredient.name}}
                </div>
            </div>
            {% endfor%}
        </div>

        <div id="steps">
            {% for step in recipe.steps[0].json.get('steps')%}

            <span>Step :</span>
            <br>
            <p class="w-100 mt-2"> {{step.get('step')}} </p>
            {% endfor%}
        </div>

        <a href="/recipes/{{recipe.id}}/history" class="btn btn-primary btn-margin"> Show history </a>
        <a href="/recipes/{{recipe.id}}/update" class="btn btn-primary">Update</a>

    </div>
</div>


{% endblock %}